<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    

    <div class="row py-4">
        <div class="col-3"></div>
        <div class="col-6">
            <h1>Add a New Show</h1>
        </div>
        <div class="col-3">
            <a href="/shows">Go Back to All Shows</a>
        </div>
    </div>

    <div class="row">
        
        <div class="col-3"></div>

        <div class="col-6">
            
            {% if messages %}
            <ul class="messages">    
                {% for message in messages %}    
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                {% endfor %}
            </ul>
            {% endif %}

            <form action="/create_one" method="post">
                {% csrf_token %}
                <div class="row px-3">
                    <h5>Title</h5>
                    <input type="text" name="title" style="width:100%;">
                </div>
                <div class="row pt-5">
                    <div class="col">
                        <h5>Network</h5>
                        <input type="text" name="network" style="width:95%;">
                    </div>
                    <div class="col">
                        <h5>Release Date</h5>
                        <input type="date" name="release_date" style="width:100%;">
                    </div>
                </div>
                <div class="row pt-5 px-3">
                    <h5>Description</h5>
                    <textarea name="description" rows="8" style="width:100%;"></textarea>
                </div>
                <div class="row-col text-center pt-5">
                    <button type="submit">Create</button>
                </div>
            </form>
        </div>

        <div class="col-3"></div>
        
    </div>
    
</body>
</html>